.profile__avatar-edit-button {
  background: none;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 122px;
  width: 123px;
  border-radius: 50%;
  border: none;
  left: -1px;
  top: -1px;
}

.profile__avatar-edit-button:hover {
  background: url(../../../images/profile-avatar-btn-edit.svg);
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,.8);
  background-position: center;
  cursor: pointer;
}
