.root {
  background-color: #000;
  min-width: 320px;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 45px 200px 60px;
  box-sizing: border-box;
  position: relative;
}


@media screen and (max-width: 1275px) {
  .root {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 1025px) {
  .root {
    padding: 28px 0 36px;
  }
}
