.page-form__subtitle {
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  padding: 15px 0 0;
  margin: 0;
  text-align: center;
}
