.profile__button-edit-image {
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 670px) {
  .profile__button-edit-image {
    height: 18px;
    width: 18px;
    position: relative;
    top: -6px;
  }
}
